Package: com.nguyentronghieu.sneakycamholdleft
Name: SneakyCam Hold Left Notch (Bản Final)
Depends: mobilesubstrate
Version: 1.1.0
Architecture: iphoneos-arm64e
Description: Bật / Tắt quay lén ngầm SneakyCam bằng cách nhấn giữ tai thỏ bên trái (khu vực đồng hồ). Tắt sạch toàn bộ cách kích hoạt bằng phím âm lượng.
Maintainer: Nguyễn Trọng Hiếu <traitimlolam@gmail.com>
Author: Nguyễn Trọng Hiếu
Section: Tweaks
